#home {
    height: 100vh;
    position: relative;
}

#about {
    padding-top: 1vw;
    margin-top: -2vw;
    position: relative;
    z-index: 200;
    background-color: white;
    text-align: center;
}

#about h1 {
    font-size: 3vw;
    color: #000;
}

#about span {
    font-size: 3vw;
    color: rgb(25, 0, 255);
}

hr {
    background-color: rgb(25, 0, 255);
    height: 3px;
}

.justify {
    width: 60vw;
    margin: auto;
    text-align: justify;
}